<h1>Панель администратора</h1>

<h2>Возможности администратора</h2>
<h3>Создание университета и назначение ответственного пользователя</h3>
<ul>
  <li>1) Перейти в "Управление > Университетами"</li>
  <li>2) Создать университет</li>
  <li>3) Перейти в "Пользователи > Назначение прав и блокировка"</li>
  <li>4) Назначить нужному пользователю права модератора</li>
  <li>5) Привязать университет пользователю из предыдущего пункта</li>
</ul>
<h3>Блокировка пользователя</h3>
<ul>
  <li>1) Перейти в "Пользователи > Назначение прав и блокировка"</li>
  <li>2) Найти нужного пользователя</li>
  <li>3) Нажать "Заблокировать"</li>
  <li>4) Выбрать даты начала и окончания блокировки</li>
</ul>
<h3>Разблокировка пользователя</h3>
<ul>
  <li>1) Перейти в "Пользователи > Назначение прав и блокировка"</li>
  <li>2) Найти нужного пользователя</li>
  <li>3) Нажать "Разблокировать"</li>
</ul>
<h3>Управление контентом портала и университетов</h3>
<ul>
  <li>
    Чтение, создание, редактирование, удаление новостей, событий, дисциплин,
    команд, контактов через соответствующие разделы в разделе "Управление"
  </li>
</ul>
<h3>Экспорт информации о всех пользователях системы</h3>
<ul>
  <li>1) Перейти в "Пользователи > Назначение прав и блокировка"</li>
  <li>2) Выбрать "Выгрузить XLS"</li>
</ul>
<h3>Рассмотрение заявок в сборные университетов:</h3>
<ul>
  <li>1) Перейти в "Рассмотрение заявок > В сборную"</li>
  <li>2) Найти нужную заявку</li>
  <li>3) Принять или отклонить нужную заявку</li>
</ul>
<h3>
  Рассмотрение заявок в команды университетов аналогично рассмотрению заявок в
  сборную, но происходит в разделе "Рассмотрение заявок > В команду".
</h3>
<h3>Удалить участника из команды:</h3>
<ul>
  <li>1) Перейти в раздел "Управление > Командами"</li>
  <li>2) Найти нужную команду</li>
  <li>3) Удалить участника из команды</li>
</ul>

<h2>Возможности модератора портала</h2>
<h3>
  Чтение, создание, редактирование, удаление новостей, событий, дисциплин,
  команд через соответствующие разделы в разделе "Управление"
</h3>

<h3>Рассмотрение заявок в команды</h3>
<ul>
  <li>1) Перейти в "Рассмотрение заявок > В команду"</li>
  <li>2) Найти нужную заявку</li>
  <li>3) Принять или отклонить нужную заявку</li>
</ul>

<h2>Возможности модератора университета</h2>

<h3>
  Чтение, создание, редактирование, удаление новостей, событий, дисциплин,
  команд, контактов через соответствующие разделы в разделе "Управление"
</h3>
<h3>
  Редактирование привязанного университета через раздел "Управление >
  университетом"
</h3>
<h3>Рассмотрение заявок в сборные привязанного университета:</h3>
<ul>
  <li>1) Перейти в "Рассмотрение заявок > В сборную"</li>
  <li>2) Найти нужную заявку</li>
  <li>3) Принять или отклонить нужную заявку</li>
</ul>

<h3>
  Рассмотрение заявок в команды привязанного университета аналогично
  рассмотрению заявок в сборную, но происходит в разделе "Рассмотрение заявок >
  В команду"
</h3>
