<h1>Рассмотрение заявок в сборную</h1>
<nz-table #nzTable
          [nzData]="listOfData"
          nzTableLayout="fixed"
          nzShowSizeChanger>
    <thead>
        <tr>
            <th nzWidth="110px">Мотивация</th>
            <th>ФИО</th>
            <th>Группа</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of nzTable.data">
            <tr>
                <td [nzExpand]="expandSet.has(data.id)"
                    (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                <td>{{ data.name }}</td>
                <td>{{ data.age }}</td>
                <td>
                    <a (click)="showConfirmModal()">Принять</a>
                    <a (click)="showDeclineModal()"
                       style="margin-left: 10px">Отклонить</a>
                </td>
            </tr>
            <tr [nzExpand]="expandSet.has(data.id)">
                <span>{{ data.reason }}</span>
            </tr>
        </ng-container>
    </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isConfirmModalVisible"
          nzTitle="Принятие заявки"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <label for="commentToConfirm">Комментарий</label>
        <textarea nz-input
                  id="commentToConfirm"
                  [(ngModel)]="commentToConfirm"
                  [nzAutosize]="{ minRows: 3, maxRows: 5 }">
        </textarea>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isDeclineModalVisible"
          nzTitle="Отклонение заявки"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkDisabled]="!reasonOfDecline.length">
    <ng-container *nzModalContent>
        <label for="reasonOfDecline">Причина</label>
        <textarea nz-input
                  id="reasonOfDecline"
                  [(ngModel)]="reasonOfDecline"
                  [nzAutosize]="{ minRows: 3, maxRows: 5 }">
        </textarea>
    </ng-container>
</nz-modal>