<h1>Новости</h1>
<h2>
  Список новостей
  <button nz-button nzType="primary" (click)="showEditModal()">
    <i nz-icon nzType="plus"></i>
  </button>
</h2>
<section class="news__articles-container">
  <article *ngFor="let news of newsList" class="wrapper news__article">
    <h3 class="news__title">
      <span>
        {{ news.title }}
      </span>
      <div>
        <button
          nz-button
          nzType="default"
          nzShape="circle"
          (click)="showEditModal(news)"
        >
          <i nz-icon nzType="edit"></i>
        </button>
        <button
          nz-button
          nzType="default"
          nzShape="circle"
          nz-popconfirm
          nzPopconfirmTitle="Вы уверены, что хотите удалить эту новость?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="confirmDelete(news)"
        >
          <i nz-icon nzType="delete"></i>
        </button>
      </div>
    </h3>
    <p>{{ news.description }}</p>
    <span>Заглавное фото:</span>
    <img
      *ngIf="news.main_image_url; else noPhoto"
      [nzSrc]="'http://localhost:5000' + news.main_image_url"
      nz-image
      width="100px"
      height="100px"
      class="news__article-image"
      alt="main news image"
    />
    <ng-template #noPhoto>
      <small>Фото отсутствует</small>
    </ng-template>
    <!-- <div class="news__article-image">
      <img
        *ngFor="let url of news.images"
        [nzSrc]="url"
        nz-image
        width="100px"
        height="100px"
        class="news__article-image"
        alt=""
      />
    </div> -->
  </article>
</section>

<nz-modal
  [(nzVisible)]="isEditVisible"
  [nzTitle]="selectedNews?._id ? 'Редактирование новости' : 'Создание новости'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="selectedNews?._id ? editNews() : createNews()"
  [nzOkDisabled]="newsForm.invalid"
  nzCancelText="Отмена"
  nzOkText="Сохранить"
>
  <ng-container *nzModalContent>
    <form
      nz-form
      [formGroup]="newsForm"
      (ngSubmit)="createNews()"
      class="news__form"
    >
      <label for="title" class="news__form-label"> Название </label>
      <input
        nz-input
        id="title"
        class="news__form-label"
        formControlName="title"
      />

      <label for="description"> Описание </label>
      <nz-textarea-count [nzMaxCharacterCount]="100">
        <textarea
          id="description"
          rows="4"
          nz-input
          formControlName="description"
        >
        </textarea>
      </nz-textarea-count>
      <portal-upload-image
        [selectedItem]="selectedNews"
        [isClearFileList]="isClearFileList"
        (formData)="onConstructFormData($event)"
        (deleteFormData)="onDeleteFormData()"
      >
      </portal-upload-image>
    </form>
  </ng-container>
</nz-modal>
