<div
  *ngIf="
    !selectedItem?._id ||
      !selectedItem?.main_image_url ||
      isMarkMainImageForDelete;
    else editImage
  "
  class="clearfix"
>
  Заглавное фото
  <nz-upload
    nzListType="picture-card"
    [(nzFileList)]="fileList"
    [nzShowButton]="fileList.length < 1"
    [nzPreview]="handlePreview"
    [nzBeforeUpload]="beforeUpload"
    [nzAccept]="'image/png, image/jpeg'"
  >
    <div>
      <i nz-icon nzType="plus"></i>
      <div class="upload__btn--upload">Выбрать</div>
    </div>
  </nz-upload>
  <nz-modal
    [nzVisible]="previewVisible"
    [nzContent]="modalContent"
    [nzFooter]="null"
    (nzOnCancel)="previewVisible = false"
  >
    <ng-template #modalContent>
      <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
    </ng-template>
  </nz-modal>
</div>
<ng-template #editImage>
  <div nz-space nzDirection="vertical">
    <span>Заглавное фото:</span>
    <div
      nz-space
      nzAlign="center"
      style="display: flex; flex-direction: row; align-items: center"
    >
      <img
        [nzSrc]="'http://localhost:5000' + selectedItem?.main_image_url"
        nz-image
        width="100px"
        height="100px"
        class="upload__article-image"
        alt="main news image"
      />
      <button
        nz-button
        nzType="default"
        nzShape="circle"
        (click)="checkIsMarkMainImageForDelete($event)"
      >
        <i nz-icon nzType="delete"></i>
      </button>
    </div>
  </div>
</ng-template>
