<h1>
  Контакты
  <button nz-button nzType="primary" (click)="showEditModal()">
    <i nz-icon nzType="plus"></i>
  </button>
</h1>

<div style="display: flex; align-items: flex-start">
  <ng-container *ngFor="let contact of mockUsers">
    <nz-card
      style="width: 200px; margin-right: 15px"
      [nzCover]="coverTemplate"
      [nzActions]="[actionEdit, actionEllipsis]"
    >
      <nz-card-meta
        [nzTitle]="
          contact.user.last_name +
          ' ' +
          contact.user.first_name +
          ' ' +
          contact.user.patronyc
        "
        [nzDescription]="contact.user.position"
        [title]="
          contact.user.last_name +
          ' ' +
          contact.user.first_name +
          ' ' +
          contact.user.patronyc
        "
      ></nz-card-meta>
      <nz-divider></nz-divider>
      <h3>Компетенции</h3>
      <p>{{ contact.questions || '-' }}</p>
      <h3>Телефон</h3>
      <p>{{ contact.user.phone || '-' }}</p>
      <h3>Почта</h3>
      <p>{{ contact.user.email || '-' }}</p>
    </nz-card>
    <ng-template #coverTemplate>
      <img width="50" alt="example" [src]="contact.user.photo" />
    </ng-template>
    <ng-template #actionEdit>
      <i (click)="showEditModal(contact)" nz-icon nzType="edit"></i>
    </ng-template>
    <ng-template #actionEllipsis>
      <i
        (click)="showDeleteConfirmationModal(contact)"
        nz-icon
        nzType="delete"
      ></i>
    </ng-template>
  </ng-container>
</div>

<nz-modal
  [(nzVisible)]="isEditVisible"
  [nzTitle]="selectedItem?._id ? 'Редактирование' : 'Создание'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="selectedItem?._id ? edit() : create()"
  [nzOkDisabled]="form.invalid"
  nzCancelText="Отмена"
  nzOkText="Сохранить"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" (ngSubmit)="create()" class="news__form">
      <!-- dropdown with with search users -->
      <label> Пользователь </label>
      <nz-select
        style="display: block"
        nzShowSearch
        nzServerSearch
        [(ngModel)]="selectedValue"
        [nzShowArrow]="false"
        [nzFilterOption]="nzFilterOption"
        (nzOnSearch)="search($event)"
      >
        <nz-option
          *ngFor="let o of listOfOption"
          [nzLabel]="o.text"
          [nzValue]="o.value"
        ></nz-option>
      </nz-select>

      <label for="questions"> Компетенции </label>
      <nz-textarea-count [nzMaxCharacterCount]="100">
        <textarea id="questions" rows="4" nz-input formControlName="questions">
        </textarea>
      </nz-textarea-count>
      <div
        *ngIf="
          !selectedItem?._id ||
            !selectedItem?.main_image_url ||
            isMarkMainImageForDelete;
          else editImage
        "
        class="clearfix"
      >
        Заглавное фото
        <nz-upload
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 1"
          [nzPreview]="handlePreview"
          [nzAccept]="'image/png, image/jpeg'"
        >
          <div>
            <i nz-icon nzType="plus"></i>
            <div class="news__btn--upload">Выбрать</div>
          </div>
        </nz-upload>
        <nz-modal
          [nzVisible]="previewVisible"
          [nzContent]="modalContent"
          [nzFooter]="null"
          (nzOnCancel)="previewVisible = false"
        >
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </nz-modal>
      </div>
      <ng-template #editImage>
        <span>Заглавное фото:</span>
        <div nz-space nzAlign="center">
          <img
            nz-image
            width="100px"
            height="100px"
            class="news__article-image"
            alt="main news image"
          />
          <button nz-button nzType="default" nzShape="circle">
            <i nz-icon nzType="delete"></i>
          </button>
        </div>
      </ng-template>
    </form>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isDeleteModalVisible"
  nzTitle="Подтвердите удаление новости"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="confirmDelete()"
  [nzOkLoading]="isLoading"
  nzCancelText="Нет"
  nzOkText="Да"
>
  <ng-container *nzModalContent>
    Вы действительно хотите удалить контакт {{ selectedItem.user.first_name }}?
  </ng-container>
</nz-modal>
