<p-table
  #dt
  [value]="users"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  currentPageReportTemplate="{first} по {last} из {totalRecords} пользователей"
  [globalFilterFields]="['first_name', 'last_name', 'patronymic', 'phone']"
>
  <ng-template pTemplate="caption">
    <div
      class="table-header flex"
      style="display: flex; justify-content: space-between"
    >
      <h2>Список всех пользователей</h2>
      <span style="margin-left: auto" class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="applyFilterGlobal($event, 'contains')"
          placeholder="Поиск"
        />
      </span>
    </div>
    <div><a (click)="exportExcel()">Выгрузить XLS </a></div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>ФИО</th>
      <th>Пол</th>
      <th>Телефон</th>
      <th>Образовательное учреждение</th>
      <th>Команды</th>
      <th>Роли</th>
      <th>
        <div class="flex justify-content-center align-items-center">
          Дата начала блокировки
          <p-columnFilter
            type="date"
            field="banned_from_date"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="flex justify-content-center align-items-center">
          Дата окончания блокировки
          <p-columnFilter
            type="date"
            field="banned_to_date"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
      <th>Причина блокировки</th>
      <th>Действия</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.phone }}</td>
      <td>-</td>
      <td>-</td>
      <td>
        <span *ngFor="let role of user.roles; let last = last">
          {{ role.name }}{{ last ? '' : ',' }}
        </span>
      </td>
      <td>{{ (user.banned_from_date | date: 'medium') || '-' }}</td>
      <td>{{ (user.banned_to_date | date: 'medium') || '-' }}</td>
      <td>{{ user.block_reason || '-' }}</td>
      <td>
        <a (click)="showChangeRoleModal(user)" style="margin-right: 10px"
          >Изменить права</a
        >
        <a (click)="showBlockModal(user)" style="margin-right: 10px">
          Заблокировать
        </a>
        <a
          *ngIf="user?.banned_from_date && user?.banned_to_date"
          nz-popconfirm
          nzPopconfirmTitle="Вы уверены, что хотите разблокировать этого пользователя?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="blockOrUnblockUser('unblock', user)"
        >
          Разблокировать
        </a>
      </td>
    </tr>
  </ng-template>
</p-table>

<nz-modal
  [(nzVisible)]="isChangeRoleModalVisible"
  nzTitle="Изменение прав"
  (nzOnCancel)="handleRolesCancel()"
  (nzOnOk)="changeRoles()"
>
  <ng-container *nzModalContent>
    <form [formGroup]="rolesForm">
      <label nz-checkbox nzValue="true" formControlName="user">
        Пользователь
      </label>
      <label nz-checkbox nzValue="true" formControlName="moderator">
        Модератор
      </label>
      <label nz-checkbox nzValue="true" formControlName="admin">
        Администратор
      </label>
    </form>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isBlockModalVisible"
  [nzTitle]="'Блокировка'"
  (nzOnCancel)="handleBlockCancel()"
  [nzCancelText]="'Отмена'"
  [nzOkText]="'Блокировать'"
  (nzOnOk)="blockOrUnblockUser('block')"
  [nzOkDisabled]="!blockDates?.[0] && !blockDates?.[1]"
>
  <ng-container *nzModalContent>
    Даты начала и окончания блокировки
    <nz-range-picker
      [nzAutoFocus]="true"
      [nzShowTime]="true"
      [(ngModel)]="blockDates"
    >
    </nz-range-picker>
    <div>
      <label for="block_reason"> Причина блокировки </label>
      <nz-textarea-count [nzMaxCharacterCount]="100">
        <textarea
          id="block_reason"
          rows="4"
          nz-input
          [(ngModel)]="block_reason"
        >
        </textarea>
      </nz-textarea-count>
    </div>
  </ng-container>
</nz-modal>
