<nz-table #basicTable [nzData]="users" nzShowSizeChanger>
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Номер</th>
      <th>Роли</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</td>
      <td>{{ user.phone }}</td>
      <td>
        <span *ngFor="let role of user.roles; let last = last">
          {{ role.name }}{{ last ? '' : ',' }}
        </span>
      </td>
      <td>
        <a (click)="showChangeRoleModal(user)" style="margin-right: 10px"
          >Изменить права</a
        >
        <a (click)="showBlockModal(user)" style="margin-right: 10px">
          Заблокировать
        </a>
        <a
          (click)="blockOrUnblockUser('unblock', user)"
          *ngIf="user?.banned_from_date && user?.banned_to_date"
        >
          Разблокировать
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isChangeRoleModalVisible"
  nzTitle="Изменение прав"
  (nzOnCancel)="handleRolesCancel()"
  (nzOnOk)="changeRoles()"
>
  <ng-container *nzModalContent>
    <form [formGroup]="rolesForm">
      <label nz-checkbox nzValue="true" formControlName="user">
        Пользователь
      </label>
      <label nz-checkbox nzValue="true" formControlName="moderator">
        Модератор
      </label>
      <label nz-checkbox nzValue="true" formControlName="admin">
        Администратор
      </label>
    </form>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isBlockModalVisible"
  [nzTitle]="'Блокировка'"
  (nzOnCancel)="handleBlockCancel()"
  [nzCancelText]="'Отмена'"
  [nzOkText]="'Блокировать'"
  (nzOnOk)="blockOrUnblockUser('block')"
  [nzOkDisabled]="!blockDates?.[0] && !blockDates?.[1]"
>
  <ng-container *nzModalContent>
    Даты начала и окончания блокировки
    <nz-range-picker
      [nzAutoFocus]="true"
      [nzShowTime]="true"
      [(ngModel)]="blockDates"
    >
    </nz-range-picker>
  </ng-container>
</nz-modal>
