<p-table
  #dt
  [value]="users"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  responsiveLayout="scroll"
  currentPageReportTemplate="{first} по {last} из {totalRecords} пользователей"
  [globalFilterFields]="['first_name', 'last_name', 'patronymic', 'phone']"
>
  <ng-template pTemplate="caption">
    <div
      class="table-header flex"
      style="display: flex; justify-content: space-between"
    >
      <h2>Список всех пользователей</h2>
      <span style="margin-left: auto" class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="applyFilterGlobal($event, 'contains')"
          placeholder="Поиск"
        />
      </span>
    </div>
    <div>
      <a (click)="exportExcel()">Выгрузить XLS </a>
    </div>
    <div>
      <a (click)="showCreateUserModel()">Создать пользователя </a>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>ФИО</th>
      <th>Пол</th>
      <th>Телефон</th>
      <th>Образовательное учреждение</th>
      <th>Команды</th>
      <th>Роли</th>
      <th>Привязанный университет</th>
      <th>
        <div class="flex justify-content-center align-items-center">
          Дата начала блокировки
          <p-columnFilter
            type="date"
            field="banned_from_date"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="flex justify-content-center align-items-center">
          Дата окончания блокировки
          <p-columnFilter
            type="date"
            field="banned_to_date"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
      <th>Причина блокировки</th>
      <th>Действия</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user?.university?.title || '-' }}</td>
      <td>{{ user?.university?.led_team || '-' }}</td>
      <td>
        <span *ngFor="let role of user.roles; let last = last">
          {{ role.name }}{{ last ? '' : ',' }}
        </span>
      </td>
      <td>{{ user?.moderated_university?.title || '-' }}</td>
      <td>{{ (user.banned_from_date | date: 'medium') || '-' }}</td>
      <td>{{ (user.banned_to_date | date: 'medium') || '-' }}</td>
      <td>{{ user.block_reason || '-' }}</td>
      <td>
        <a
          (click)="showEditModal(user)"
          *ngIf="isUserModerator(user)"
          style="margin-right: 10px"
        >
          Привязать университет
        </a>
        <a (click)="showChangeRoleModal(user)" style="margin-right: 10px"
          >Изменить права</a
        >
        <a (click)="showBlockModal(user)" style="margin-right: 10px">
          Заблокировать
        </a>
        <a
          *ngIf="user?.banned_from_date && user?.banned_to_date"
          nz-popconfirm
          nzPopconfirmTitle="Вы уверены, что хотите разблокировать этого пользователя?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="blockOrUnblockUser('unblock', user)"
          >  Разблокировать
        </a>
        <!-- *ngIf="user?.banned_from_date && user?.banned_to_date" -->
        <!-- <a
          nz-popconfirm
          nzPopconfirmTitle="Вы уверены, что хотите удалить этого пользователя?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="deleteUser(user?._id)"
        >
          Удалить
        </a> -->
      </td>
    </tr>
  </ng-template>
</p-table>

<nz-modal
  [(nzVisible)]="isEditUser"
  nzTitle="Привязка университета"
  (nzOnCancel)="hideEditUser()"
  (nzOnOk)="updateUser(selectedUniversity)"
>
  <ng-container *nzModalContent>
    <!-- <form [formGroup]="rolesForm"> -->
    <label for="choose-university">Университет</label>
    <nz-select
      style="width: 100%"
      id="choose-university"
      nzShowSearch
      nzAllowClear
      [(ngModel)]="selectedUniversity"
    >
      <nz-option
        *ngFor="let uni of universities"
        [nzLabel]="uni.title"
        [nzValue]="uni._id"
      ></nz-option>
    </nz-select>
    <!-- </form> -->
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isChangeRoleModalVisible"
  nzTitle="Изменение прав"
  (nzOnCancel)="handleRolesCancel()"
  (nzOnOk)="changeRoles()"
>
  <ng-container *nzModalContent>
    <form [formGroup]="rolesForm">
      <label nz-checkbox nzValue="true" formControlName="user">
        Пользователь
      </label>
      <label nz-checkbox nzValue="true" formControlName="moderator">
        Модератор
      </label>
      <label nz-checkbox nzValue="true" formControlName="admin">
        Администратор
      </label>
    </form>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isBlockModalVisible"
  [nzTitle]="'Блокировка'"
  (nzOnCancel)="handleBlockCancel()"
  [nzCancelText]="'Отмена'"
  [nzOkText]="'Блокировать'"
  (nzOnOk)="blockOrUnblockUser('block')"
  [nzOkDisabled]="!blockDates?.[0] && !blockDates?.[1]"
>
  <ng-container *nzModalContent>
    Даты начала и окончания блокировки
    <nz-range-picker
      [nzAutoFocus]="true"
      [nzShowTime]="true"
      [(ngModel)]="blockDates"
    >
    </nz-range-picker>
    <div>
      <label for="block_reason"> Причина блокировки </label>
      <nz-textarea-count [nzMaxCharacterCount]="100">
        <textarea
          id="block_reason"
          rows="4"
          nz-input
          [(ngModel)]="block_reason"
        >
        </textarea>
      </nz-textarea-count>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isCreateUserModalVisible"
  [nzTitle]="'Создание пользователя'"
  [nzCancelText]="'Отмена'"
  [nzOkText]="'Сохранить'"
  [nzOkDisabled]="userForm.disabled"
  (nzOnCancel)="hideCreateUserModal()"
  (nzOnOk)="createUser()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="userForm" (ngSubmit)="createUser()">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" for="last_name">Фамилия</nz-form-label>
        <nz-form-control>
          <input nz-input id="last_name" formControlName="last_name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" for="first_name"> Имя </nz-form-label>
        <nz-form-control>
          <input nz-input id="first_name" formControlName="first_name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" for="patronymic">Отчество</nz-form-label>
        <nz-form-control>
          <input nz-input id="patronymic" formControlName="patronymic" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" for="email">E-mail</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
          <input nz-input formControlName="email" type="email" />
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('email')">
              Некорректный email
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" for="phone">Номер</nz-form-label>
        <nz-form-control>
          <input nz-input id="phone" formControlName="phone" />
        </nz-form-control>
      </nz-form-item>

      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="7" for="login">Логин</nz-form-label>
        <nz-form-control>
          <input nz-input id="login" formControlName="login" />
        </nz-form-control>
      </nz-form-item> -->

      <nz-form-item>
        <nz-form-label [nzSpan]="7" for="password">Пароль</nz-form-label>
        <nz-form-control>
          <input
            type="password"
            nz-input
            id="password"
            formControlName="password"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" for="birth_date"
          >День рождения</nz-form-label
        >
        <nz-form-control>
          <nz-date-picker
            style="display: block"
            nzShowTime="false"
            nzFormat="dd-MM-yyyy"
            formControlName="birth_date"
          >
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="7" for="photo_url">Фото профиля</nz-form-label>
        <nz-form-control> -->
      <!-- <input nz-input id="password" formControlName="password" /> -->
      <!-- </nz-form-control>
      </nz-form-item> -->

      <nz-form-item>
        <nz-form-label [nzSpan]="7" for="about_yourself">
          Описание</nz-form-label
        >
        <nz-form-control>
          <nz-textarea-count [nzMaxCharacterCount]="100">
            <textarea
              id="about_yourself"
              rows="4"
              nz-input
              formControlName="about_yourself"
            >
            </textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" for="gender">Пол</nz-form-label>
        <nz-form-control>
          <nz-select
            style="width: 100%"
            nzShowSearch
            id="gender"
            nzAllowClear
            formControlName="gender"
          >
            <nz-option
              *ngFor="let gender of genders"
              [nzLabel]="gender.name"
              [nzValue]="gender.value"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" for="student_card"
          >Карточка студента</nz-form-label
        >
        <nz-form-control>
          <input nz-input id="student_card" formControlName="student_card" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" for="university_id"
          >Университет</nz-form-label
        >
        <nz-form-control>
          <nz-select
            id="university"
            formControlName="university_id"
            [nzShowArrow]="false"
            [nzFilterOption]="nzFilterOption"
          >
            <nz-option
              *ngFor="let uni of universities"
              [nzLabel]="uni.title"
              [nzValue]="uni._id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
